.navbar {
  width: var(--container-width);
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.navbar__logo {
  width: 150px;
}

/* Menu */
.navbar__menu {
  display: flex;
  gap: 20px;
  list-style: none;
  font-size: 18px;
  color: var(--text-medium);
}

.navbar__menu-item {
  cursor: pointer;
  text-decoration: none;
  color: var(--text-medium);
  transition: var(--transition-default);
}

.navbar__menu-item--active {
  padding-bottom: 2px;
  border-bottom: 2px solid var(--text-medium);
}

/* Right side actions */
.navbar__actions {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar__icon {
  width: 24px;
  cursor: pointer;
}

/* Cart indicator */
.navbar__cart {
  position: relative;
}

.navbar__cart-indicator {
  position: absolute;
  min-height: 10px;
  min-width: 10px;
  background-color: var(--color-primary);
  border-radius: 50%;
  top: -6px;
  right: -6px;
}

/* Login Button */
.navbar__login-btn {
  background: transparent;
  font-size: 16px;
  color: var(--text-medium);
  border: 1px solid var(--color-primary);
  padding: 10px 30px;
  border-radius: var(--radius-pill);
  cursor: pointer;
  transition: var(--transition-default);
}

.navbar__login-btn:hover {
  background-color: var(--color-primary-light);
}

/* Responsive */
@media (max-width: 1050px) {
  .navbar__logo { width: 140px; }
  .navbar__actions { gap: 30px; }
  .navbar__icon { width: 22px; }
  .navbar__login-btn { padding: 8px 25px; }
}

@media (max-width: 900px) {
  .navbar__logo { width: 120px; }
  .navbar__actions { gap: 20px; }
  .navbar__icon { width: 20px; }
  .navbar__login-btn { padding: 7px 20px; font-size: 15px; }
}

@media (max-width: 750px) {
  .navbar__menu { display: none; }
}
