.download {
  margin-top: 120px;
  text-align: center;
  font-weight: 500;
}

.download__title {
  font-size: max(3vw, 20px);
  color: var(--text-dark);
}

.download__stores {
  display: flex;
  justify-content: center;
  gap: max(2vw, 12px);
  margin-top: 40px;
}

.download__store-badge {
  width: max(30vw, 120px);
  max-width: 180px;
  cursor: pointer;
  transition: var(--transition-default);
}

.download__store-badge:hover {
  transform: scale(1.05);
}
